<template>
  <div>
    <Table v-if="items.length">
      <template v-slot:thead>
        <tr>
          <th>Name</th>
          <th>Url</th>
          <th>Owner</th>
          <th>Forks</th>
          <th>Open Issues</th>
          <th>Watchers</th>
        </tr>
      </template>
      <template v-slot:tbody>
        <tr v-for="(item, index) in items" :key="index">
          <th>{{ item.name }}</th>
          <th>
            <a :href="item.url">Link</a>
          </th>
          <th>
            <a :href="item.owner.html_url">
              <div class="owner">
                <img :src="item.owner.avatar_url" :alt="item.owner.login">
                {{item.owner.login}}
              </div>
            </a>
          </th>
          <th>{{ item.forks }}</th>
          <th>{{ item.open_issues }}</th>
          <th>{{ item.watchers }}</th>
        </tr>
      </template>
    </Table>
    <semipolar-spinner
      class="loader"
      v-if="isLoading"
      :animation-duration="2000"
      :size="65"
      color="#00c9b1"
    />
  </div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator';
import { Item } from '../api/types';
import { SemipolarSpinner } from 'epic-spinners';
import { throttle } from '../utils/throttle';
import Table from './Table.vue';

@Component({
  components: { SemipolarSpinner, Table }
})
export default class ResultList extends Vue {
  @Prop() private msg!: string;
  @Prop() private items!: Item[];

  loadMore() {
    this.$store.dispatch('FETCH_NEXT_PAGE');
  }

  scroll() {
    window.onscroll = throttle(() => {
      const bottomOfWindow =
        document.documentElement.scrollTop + window.innerHeight + 200 >=
        document.documentElement.offsetHeight;
      if (bottomOfWindow && this.query && !this.isLoading) {
        this.loadMore();
      }
    }, 500);
  }

  get isLoading() {
    return this.$store.state.isLoading;
  }

  get query() {
    return this.$store.state.query;
  }

  mounted() {
    this.scroll();
  }
}
</script>

<style scoped lang="scss">
a {
  color: $accent;

  &:hover {
    color: $text-secondary;
  }
}
.loader {
  width: 50px;
  margin: 30px auto;
}
.hidden {
  display: none;
}
.owner {
  display: flex;
  align-items: center;
  justify-content: flex-start;

  img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 20px;
  }
}
</style>
