<template>
  <div class="searchbox">
    <input v-on:keyup.enter="onSubmit" v-model="value" placeholder="Search">
    <button type="submit" v-on:click="onSubmit">
      <span class="icon">&#8250;</span>
    </button>
  </div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator';

@Component
export default class Searchbox extends Vue {
  value = '';

  onSubmit() {
    const query = encodeURI(this.value.trim());
    if (query) {
      this.$emit('submit', query);
    }
  }
}
</script>

<style scoped lang="scss">
$input-background: $background-primary;
$input-text-inactive: $text;
$input-text-active: $accent;

@keyframes gradient {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 100% 0;
  }
}

.searchbox {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  border-radius: 2px;
  background: $input-background;
  &:after {
    content: '';
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 0px;
    z-index: 999;
    height: 2px;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    background-position: 0% 0%;
    background: linear-gradient(
      to right,
      #b294ff,
      #57e6e6,
      #feffb8,
      #57e6e6,
      #b294ff,
      #57e6e6
    );
    background-size: 500% auto;
    animation: gradient 3s linear infinite;
  }
}

.searchbox input {
  padding: 1.4rem 0 1.6rem 2rem;
  flex-grow: 1;
  color: $input-text-active;
  font-size: 1.8rem;
  line-height: 2.4rem;
  vertical-align: middle;
  &::-webkit-input-placeholder {
    color: $input-text-inactive;
  }
}

.searchbox button {
  color: $input-text-inactive;
  padding: 1.4rem 2rem;
  font-size: 2.4rem;
  line-height: 2.4rem;
  vertical-align: middle;
  transition: color 0.25s;
  &:hover {
    color: $input-text-active;
  }
}

.searchbox .icon {
  font-size: 4rem;
}
</style>
