<template>
  <table class="container">
    <thead>
      <slot name="thead"></slot>
    </thead>
    <tbody>
      <slot name="tbody"></slot>
    </tbody>
  </table>
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator';

@Component
export default class Table extends Vue {}
</script>

<style lang="scss" scoped>
.container {
  width: 80%;
  margin: 40px auto;
  font-size: 1.6rem;
}

thead {
  color: $text-secondary;
  tr {
    background-color: $background-primary;
  }
}

tbody {
  color: $text;
}

.container td,
.container th {
  padding: 16px 24px;
}

.container tbody tr {
  background-color: $background-secondary;
}

</style>

