<template>
  <div id="app">
    <Searchbox @submit="handleSubmit" />
    <ResultList :items="results"/>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import ResultList from './components/ResultList.vue';
import Searchbox from './components/Searchbox.vue';

@Component({
  components: {
    ResultList,
    Searchbox
  }
})
export default class App extends Vue {
  handleSubmit(query: String) {
    if(this.$store.state.query !== query) {
      this.$store.dispatch('FETCH_DATA', { query });
    }
  }

  get results() {
    return this.$store.state.repos;
  }
}
</script>

<style lang="scss">
html {
  box-sizing: border-box;
  font-size: 10px;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body,
ul,
li {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
}
a {
  text-decoration: none;
}
input {
  border-style: none;
  background: transparent;
  outline: none;
}
button {
  padding: 0;
  background: none;
  border: none;
  outline: none;
}

#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: $text;
  margin-top: 60px;
}
html {
  background: $background;
}
</style>
